.page-about {
  overflow-y: auto;

  .content-container {
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;

    .title-section {
      .content-title {
        white-space: nowrap;
        padding: 0 10px;
        position: absolute;
        top: 0;
        transform: translate(0, -50%);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 200px;

        &.first-right {
          right: 0%;
        }

        &.right {
          right: 0%;
        }

        &.left {
          left: -25%;
        }
        @media screen and (max-width: 1200px) {
          font-size: 180px;
        }
        @media screen and (max-width: 992px) {
          font-size: 140px;
        }
        @media screen and (max-width: 768px) {
          font-size: 120px;
        }
        @media screen and (max-width: 500px) {
          font-size: 80px;
        }
        @media screen and (max-width: 400px) {
          font-size: 60px;
        }
      }
    }

    .bloc-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .elt-content {
        text-transform: none;
        font-size: 45px;
        width: 90%;

        .description-content {
          font-weight: 300;
        }
        h1, h2 {
          font-size: 45px;
        }
      }

      @media screen and (max-width: 1200px){
        .elt-content {
          font-size: 38px;
          h1, h2 {
            font-size: 38px;
          }
        }
      }
      @media screen and (max-width: 992px){
        .elt-content {
          font-size: 35px;
          h1, h2 {
            font-size: 35px;
          }
        }
      }
      @media screen and (max-width: 768px){
        .elt-content {
          font-size: 35px;
          h1, h2 {
            font-size: 35px;
          }
        }
      }
      @media screen and (max-width: 500px){
        .elt-content {
          font-size: 28px;
          h1, h2 {
            font-size: 28px;
          }
        }
      }
    }

  }

}
