.page-project {
  overflow-y: auto;
  .content-container {
    justify-content: center;
  }
  .head-container {
    padding-top: 15vh;
    height: 85vh;
    align-items: center;
    justify-content: center;

    .project-box {
      .container-title {
        h1 {
          text-align: center;
          text-transform: none;
          font-size: 80px;
          font-weight: 600;

          @media screen and (max-width: 600px) {
            font-size: 60px;
          }
        }
      }
      .container-text {
        margin-top: 50px;
        text-transform: none;
        .elt-text {
          .title-text {
            font-size: 22px;
            font-weight: 600;
          }
          .content-text {
            min-height: 100px;
            font-size: 22px;
            font-weight: 200;

            a {
              &:hover {
                border-bottom: 1.5px solid white;
              }
            }
          }
          @media screen and (max-width: 600px) {
            .title-text {
              font-size: 18px;
            }
            .content-text {
              min-height: 50px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .content-container {
    .container-screenshot {
      margin: 15px 0;
      .elt-screenshot {
        width: 100%;
        img, video{
          opacity: 0;
          width: 100%;
          height: auto;
        }
        &.iframe-container {
        	position: relative;
        	padding-bottom: 56.25%; /* 16:9 */
        	padding-top: 25px;
        	height: 0;
          iframe {
          	position: absolute;
          	top: 0;
          	left: 0;
          	width: 100%;
          	height: 100%;
          }
        }

        &.elt-link {
          transition: opacity .3s ease-in-out;
          &:hover {
            transition: opacity .3s ease-in-out;
            opacity: .8;
          }
        }
      }
    }
    .container-text {
      opacity: 0;
      .elt-text {
        width: 90%;
        margin: 100px auto;
        h3 {
          text-transform: none;
          font-weight: 400;
          font-size: 20px;
        }
        a {
          font-size: 20px;
          font-weight: 600;
          &:hover {
            border-bottom: 1.5px solid white;
          }
        }
        @media screen and (max-width: 600px) {
          h3, a {
            font-size: 18px;
          }
        }
      }
    }
  }

  .container-links {
    height: 100vh;
    align-items: center;
    justify-content: center;

    .link-projet {
      opacity: 0;
      z-index: 1000;
      font-size: 80px;
      text-transform: none;
      &.disable {
        color: rgba(255,255,255,.3);
      }
      &:hover {
        cursor: pointer;
      }
      @media screen and (max-width: 768px) {
        font-size: 50px;
      }
      @media screen and (max-width: 500px) {
        font-size: 30px;
      }
    }
    .container-next-apercu, .container-previous-apercu {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .container-next-apercu {
      transform: translate(-50%, -50%);
    }
    .container-previous-apercu {
      transform: translate(-50%, -50%);
    }
  }





}
