.e-mail, .navbar {
  font-weight: 400;
  z-index: 1000;
}

.e-mail {
  color: rgba(255,255,255,0.6);
  position: fixed;
  bottom: 30px;
  left: 50px;
  transform: rotateZ(-90deg);
  text-transform: none;
  transform-origin: left;
  transition: ease-in-out .3s all;

  &:hover {
    transition: ease-in-out .2s all;
    color: rgba(255,255,255,.9);
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    transform: rotateZ(0);
    left: 5px;
    bottom: 10px;
  }
}
