.page-menu {
  visibility: hidden;
  opacity: 0;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-weight: 700;
  font-style: oblique;
  font-size: 80px;

  .references {
    margin-bottom: 10px;
    width: 100vh;
    font-size: 17px;
    font-weight: 200;
    white-space: nowrap;
    text-transform: none;
    z-index: 1000;
    color: white;
    position: absolute;
    right: -25%;
    transform: rotate(-90deg);
    bottom: 48.5%;
    overflow: hidden;

    .elt-references {
      transform: translateX(100%);
      animation: deroule 15s infinite linear;

      a {
        &:hover {

        }
      }
    }

    @keyframes deroule {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(-100%);
      }
    }
  }

  .wave {
    background-color: black;
    width: 5px;
    min-height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
  }

  .bloc-menu {
    z-index: 100;
    width: 100vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: white;
    text-align: center;

    .menu-item-container {
      overflow: hidden;
    }

    .menu-item {
      line-height: 100px;
      display: block;
      text-transform: uppercase;
      opacity: .5;
      transform: translateY(100%);

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
      @media screen and (max-width: 768px) {
        line-height: 70px;
      }
    }
  }

  .loading-menu {
    display: flex;
    flex-wrap: nowrap;
    font-size: 80px;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 100%;
    color: white;
    align-items: center;
    opacity: 0;
    transition: all .5s ease-in-out;

    &.behind {
      color: black;
      z-index: 2;
    }

    &.above {
      color: white;
      z-index: 3;
    }

    &.anim-on {
      opacity: 1;
      animation: defile 4.5s forwards;
      animation-timing-function: linear;
    }
    @media screen and (max-width: 768px) {
      font-size: 50px;
    }
  }
  @media screen and (max-width: 768px) {
    font-size: 50px;
  }

}

.page-menu {
  transition: all .5s ease-in-out;
  &.open-menu {
    visibility: visible;
    transition: all .5s ease-in-out;
    opacity: 1;
    .menu-item {
      display: block;
      &.about {
        animation: appear .5s forwards;
      }
      &.work {
        animation: appear .5s forwards .1s;
      }
      &.contact {
        animation: appear .5s forwards .2s;
      }
    }
  }
}





@keyframes defile {
  0% {
    right: 0;
  }
  80% {
    right: 100%;
  }
  100% {
    right: 100%;
  }
}

@keyframes appear {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
