@import "basics/base";
@import "modules/navbar";
@import "modules/layer";
@import "modules/menu";
@import "modules/anim-contact";
@import "modules/loader";
@import "modules/clipboard";
@import "pages/landing-page";
@import "pages/about";
@import "pages/work";
@import "pages/project";
@import "pages/contact";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');
